streamlit
pandas
requests
gspread
oauth2client
python-dateutil
feedparser
beautifulsoup4
plotly
PyGithub
telethon
googlesearch-python
google-api-python-client
beautifulsoup4
markdown
google-generativeai
git+https://github.com/mahrtayyab/tweety.git
groq
tweety-ns
duckduckgo-search
selenium==4.18.1
webdriver-manager==4.0.1
twikit
git+https://github.com/d60/twikit.git@main