streamlit
pandas
requests
gspread
oauth2client
python-dateutil
feedparser
beautifulsoup4
plotly
PyGithub
telethon
google-api-python-client
google-generativeai
git+https://github.com/mahrtayyab/tweety.git
groq
tweety-ns
duckduckgo-search
